[user]
	name = Yibotian
	email = yiboxiaotian@nuaa.edu.cn
[alias]
	graphb = log --all --graph --decorate --oneline
	graphd = log --all --graph --decorate 
[init]
	defaultBranch = main
[pull]
	rebase = false
